@charset 'utf-8';

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

:root {
  --main_c1: #45156e;
  --main_c2: #c2b0e1;
  --main_c3: #f9f2fe;
  --main_c4: #c6c6c6;
  --mw: 1440px;
  --gap1: 16px;
  --gap2: 8px;
  font-family: "Noto Sans KR", sans-serif;
}
.mw {
  max-width: var(--mw);
  margin: auto;
  width: calc(100% - 2rem);
}
.head2 {
  font-size: 40px;
  font-weight: 500;
}
body img {
  width: 100%;
}
.wrap {
  overflow: hidden;
}
button {
  cursor: pointer;
}
.hd {
  margin: auto;
  z-index: 999;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--gap1) * 2) calc(var(--gap1));
}
.main_nav > img {
  width: 100%;
}
.main_nav .logo {
  width: 240px;
}
.gnb {
  flex-grow: 1;
  z-index: 99;
}
.gnb_m_con {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  top: 0;
  right: -100%;
  overflow: auto;
  transition: 0.5s ease-in-out;
}

.gnb a {
  display: inline-block;
  font-size: 20px;
  padding: 0 3rem;
  font-weight: 400;
  position: relative;
}

.gnb_list {
  display: flex;
  justify-content: center;
  z-index: 2;
}
.gnb_list > li {
  position: relative;
  /* transition: 0.5s; */
}
.gnb_list > li > a {
  padding-left: 32px;
}
.gnb_list > li > a:hover .gnb_list > li {
  background-color: var(--main_c2);
}

.sub_list {
  padding-top: 55px;
  justify-items: center;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  background-color: white;
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}
.gnb_list > li:hover .sub_list {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}
.sub_list > li {
  width: 100%;
  padding-bottom: var(--gap1);
  text-align: center;
}
.sub_list > li > a {
  padding: 0;
}
.sub_list > li > a:hover {
  color: var(--main_c1);
}

.icon_nav {
  width: 180px;
  cursor: pointer;
  font-size: 22px;
  text-align: center;
}
.icon_nav > i {
  padding: calc(var(--gap2) / 2);
}
.icon_nav > i:hover {
  color: var(--main_c1);
}
.fa-bars {
  display: none;
}
.search_modal_con {
  position: absolute;
  top: 96px;
  left: 0;
  width: 100vw;
  height: 0vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
}
.search_modal_con.on {
  height: 10vh;
}
.search_modal {
  max-width: 300px;
  margin: auto;
  position: relative;
}
.main_search {
  width: 300px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-bottom: 4px solid rgb(255, 255, 255);
  outline: none;
  padding-left: 10px;
  background-color: transparent;
}
.main_search::placeholder {
  color: white;
}
.close_search {
  font-size: large;
  position: absolute;
  top: 6px;
  right: 0;
  color: white;
}
/* body */

/* ------------------main_banner--------------- */
.main_banner_wrap {
  padding-top: 96px;
  overflow: hidden;
  display: flex;
}
.main_banner_wrap::before {
  content: "";
  position: absolute;
  top: 96px;
  left: 0;
  background-color: var(--main_c1);
  height: 460px;
  width: 50%;
}
.main_banner_wrap::after {
  content: "";
  position: absolute;
  top: 96px;
  right: 0;
  background-color: var(--main_c2);
  height: 460px;
  width: 50%;
}
.fix_banner_con {
  width: 37.5%;
  background-color: var(--main_c1);
  display: flex;
  justify-content: flex-end;
  height: 460px;
  position: relative;
}
/* .fix_banner_con::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100vh;
  width: 100vh;
  height: 460px;
  background-color: var(--main_c1);
} */
.main_banner_wrap img {
  width: 100%;
}
.fix_banner {
  width: 480px;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* .slide_banner {
  border: 1px solid yellow;
  max-width: 960px;
  height: 460px;
} */
.fix_banner > * {
  margin-right: 70px;
}
.fix_banner > span {
  margin-top: 75px;
  text-align: end;
  font-size: 28px;
  font-weight: 700;
  color: var(--main_c3);
}
.fix_banner > strong {
  text-align: end;
  font-size: 45px;
  font-weight: 200;
  line-height: 3.8rem;
  color: var(--main_c3);
  margin-right: 70px;
  margin-left: -50px;
  word-break: keep-all;
}
.fix_banner button {
  position: absolute;
  text-align: end;
  top: 204px;
  right: 0px;
  width: 167px;
  height: 58px;
  border-radius: 20px;
  background-color: var(--main_c2);
  transition: 0.5s;
  border: 0;
}
.fix_banner > button > span {
  display: block;
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  padding-right: 25px;
}
.fix_banner > button > a > span::after {
  content: ">";
  position: absolute;
  right: 3px;
}
.fix_banner > button:hover {
  background-color: var(--main_c1);
}
.fix_banner > img {
  width: 314px;
  margin-top: 25px;
}
.slide_banner_con {
  width: 62.5%;
  background-color: var(--main_c2);
  position: relative;
  overflow: hidden;
}
/* .slide_banner_con::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 460px;
  background-color: var(--main_c2);
  z-index: 1;
} */

.slide_banner {
  margin: 0;
}
.swiper-wrapper {
  position: relative;
  overflow: visible;
}
.word_space {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

/*  -====================슬라이드 배너 1 =================*/
.slide_banner .eng {
  margin-top: 75px;
  font-size: 28px;
  font-weight: 700;
  color: var(--main_c3);
}
.slide_banner strong {
  font-size: 45px;
  font-weight: 300;
  color: var(--main_c1);
  word-break: keep-all;
}
.slide_banner .detail {
  padding-top: 26px;
  font-size: 16px;
  font-weight: 400;
  color: var(--main_c3);
  word-break: keep-all;
  width: 380px;
}
.slide_banner button {
  margin-left: 70px;
  margin-top: 75px;
  width: 300px;
  height: 60px;
  border-radius: 20px;
  background-color: var(--main_c1);
  transition: 0.5s;
}
.slide_banner button > a > span {
  font-size: 22px;
  font-weight: 700;
  color: white;
  padding-right: 25px;
  position: relative;
}
.slide_banner > button > a > span::after {
  content: ">";
  position: absolute;
  right: 0;
  top: 0;
  font-size: x-large;
}
.slide_banner button:hover {
  background-color: white;
}
.slide_banner button:hover > a > span {
  color: var(--main_c1);
}

.slide_banner1 > img {
  width: 262px;
  position: absolute;
  right: 0;
  top: 130px;
  z-index: -1;
}
/*  -====================슬라이드 배너 2 =================*/
.slide_banner2 > img {
  width: 150px;
  position: absolute;
  right: 0px;
  top: 130px;
  z-index: -1;
}
/*  -====================슬라이드 배너 3 =================*/

.slide_banner3 > img {
  width: 350px;
  position: absolute;
  right: 0px;
  top: 130px;
  z-index: -1;
}
/*  -====================슬라이드 배너 4 =================*/

.slide_banner4 > img {
  width: 550px;
  position: absolute;
  left: 70px;
  top: 75px;
}
.slide_banner4 > span {
  text-align: center;
  width: 270px;
  font-size: 45px;
  font-weight: 300;
  color: var(--main_c1);
  position: absolute;
  right: 10px;
  top: 150px;
}
.slide_banner4 > button {
  display: none;
}

.slide_banner_next,
.slide_banner_prev {
  top: 100px;
  color: black;
  width: 25px;
  height: 25px;
}
.slide_banner > .slide_banner_next {
  right: 0px;
}
.slide_banner > .slide_banner_prev {
  left: auto;
  right: 50px;
}
/* ================================================================================ */

.slide_banner > .swiper-button-prev,
.slide_banner > .swiper-button-next {
  width: 40px;
  height: 40px;
  padding: 15px 22px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.fa-chevron-left,
.fa-chevron-right {
  color: rgba(255, 255, 255, 0.808);
  font-size: 25px;
}

.slide_banner > .swiper-button-next::after,
.slide_banner > .swiper-button-prev::after {
  display: none;
}
/* ------------------wine_recommend--------------- */
.wine_recommend_wrap {
  padding-top: 100px;
  height: 600px;
  position: relative;
}
.wine_collection {
  padding: 50px 10px 20px 10px;
}
.wine_collection > * {
  border: 1px solid red;
}
.product {
  /* width: 340px;
  height: 300px; */
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0.5px;
  transition: 0.3s;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.product:hover {
  box-shadow: 0px 0px 15px 5px var(--main_c1);
}
.wine_img {
  width: 144px;
  height: 250px;
  object-fit: contain;
  border-radius: 20px;
  background-color: var(--main_c4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.wine_img .tokken {
  width: 42px;
  position: absolute;
  top: 8%;
  left: 4%;
}
.wine_img .wine {
  width: 100%;
  height: 80%;
  object-fit: contain;
}
.wine_deteil {
  margin-left: 26px;
}
.wine_deteil > span {
  font-size: 11px;
  font-weight: 700;
  color: var(--main_c4);
}
.wine_deteil > p > strong {
  font-size: 14px;
  font-weight: 700;
}
.wine_grap {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
}
.wine_grap > span:nth-child(odd) {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 7px;
}
.wine_grap > span:nth-child(2n) {
  margin-bottom: 14px;
  width: 100%;
  height: 6px;
  background-color: var(--main_c4);
  overflow: hidden;
  position: relative;
}
.wine_grap > span:nth-child(2n)::before {
  content: "";
  height: 100%;
  background-color: var(--main_c1);
  position: absolute;
}
.p100::before {
  width: 100%;
}
.p90::before {
  width: 90%;
}
.p80::before {
  width: 80%;
}
.p75::before {
  width: 75%;
}
.p60::before {
  width: 60%;
}
.p50::before {
  width: 50%;
}
.p45::before {
  width: 45%;
}
.p25::before {
  width: 25%;
}
.p0::before {
  width: 0%;
}

.wine_next {
  position: absolute;
  top: 60%;
  right: -5%;
  color: black;
}
.wine_prev {
  position: absolute;
  top: 60%;
  left: -5%;
  color: black;
}
.plus {
  cursor: pointer;
  transition: 0.5s;
}
/* ------------------------wine category ------------------*/

.wine_category_wrap {
  position: relative;
}
.wine_category_wrap h2 {
  font-size: 40px;
  font-weight: 500;
}
.wine_category_wrap > .plus {
  width: 25px;
  position: absolute;
  top: 15px;
  left: 350px;
}
.wine_category {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wine_category > div {
  width: 700px;
  height: 320px;
  /* background-color: antiquewhite; */
}
.wine_category > div > strong {
  display: block;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
}
.wine_category > div > span {
  font-size: 16px;
  font-weight: 100;
}
.wine_category > div > .btn_group {
  margin: auto;
  margin-top: 24px;

  /* background-color: aquamarine; */
}
.btn_group > button {
  width: 325px;
  height: 65px;
  margin: 8px 0;
  border-radius: 10px;
  border: transparent;
  box-shadow: 0 0 5px;
  position: relative;
}
.btn_group > button > span {
  position: absolute;
  top: 20px;
  left: 56px;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: white;
}
.btn_group > button > img {
  width: 100%;
}
.wine_con .btn_group > button:nth-of-type(1) {
  background-image: url(../imges/frn.png);
}
.wine_con .btn_group > button:nth-of-type(2) {
  background-image: url(../imges/ita.png);
}
.wine_con .btn_group > button:nth-of-type(3) {
  background-image: url(../imges/america.png);
}
.wine_con .btn_group > button:nth-of-type(4) {
  background-image: url(../imges/por.png);
}
.wine_con .btn_group > button:nth-of-type(5) {
  background-image: url(../imges/aus.png);
}
.wine_con .btn_group > button:nth-of-type(6) {
  background-image: url(../imges/spn.png);
}
.wine_con .btn_group > button {
  background-size: 250px 65px;
}
.wine_wine .btn_group > button:nth-of-type(1) {
  background-image: url(../imges/redwine.png);
}
.wine_wine .btn_group > button:nth-of-type(2) {
  background-image: url(../imges/wihtewine.png);
}
.wine_wine .btn_group > button:nth-of-type(3) {
  background-image: url(../imges/sparklewine.png);
}
.wine_wine .btn_group > button:nth-of-type(4) {
  background-image: url(../imges/rozewine.png);
}
.wine_wine .btn_group > button:nth-of-type(5) {
  background-image: url(../imges/levelwine.png);
}
.wine_wine .btn_group > button:nth-of-type(6) {
  background-image: url(../imges/zerowine.png);
}

/* .btn_group > button:nth-child(2n) {
  margin-left: 16px;
} */
.btn_group > button {
  margin: 8px;
}
.btn_group > button:hover {
  box-shadow: 0 0 20px;
}
.wine_con {
  position: relative;
}
.wine_con::after {
  content: "";
  position: absolute;
  height: 240px;
  border-right: 2px solid #45156e;
  top: 28%;
  right: -2%;
}

/*  mid_banner */
.mid_banner_wrap {
  height: 270px;
  background-color: #7b3484;
  margin: auto;
  margin-top: 140px;
}
.mid_banner_wrap img {
  width: 100%;
}
.mid_banner {
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mid_banner strong {
  font-size: 40px;
  font-weight: 500;
  line-height: 59px;
  color: white;
  display: block;
}
.mid_banner span {
  display: block;
  width: 240px;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  color: white;
  padding-top: 32px;
  position: relative;
  /* border: 1px solid wheat; */
}
.mid_banner span::after {
  content: "> > >";
  position: absolute;
  right: 10px;
  transition: 0.5s;
}

.mid_banner > img {
  width: 460px;
}

.mid_banner:hover.mid_banner span::after {
  right: -10px;
}

/*  review   */
.review_wrap {
  margin-top: 140px;
  position: relative;
}
.review_wrap h2 {
  padding-bottom: 50px;
}
.review_wrap > .plus {
  width: 25px;
  position: absolute;
  top: 12px;
  left: 300px;
}
.review_slide {
  max-width: var(--mw);
  margin: auto;
}
.review_slide .front {
  height: 100%;
}
.review_slide .back {
  opacity: 0;
  position: absolute;
  background-color: #44156e80;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  transition: 0.5s;
}
.review_slide > .swiper-wrapper > .swiper-slide:hover .back {
  opacity: 1;
}
.swiper-slide > .back > .review_deteil {
  width: 80%;
  margin: auto;
  height: 30%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80%;
}
.review_deteil > .stars {
  /* border: 1px solid black; */
  margin-top: 10%;
}
.review_deteil > .review_title {
  font-size: 20px;
  font-weight: 500;
}
.review_deteil > .review_content {
  font-size: 16px;
  font-weight: 500;
}
.review_name {
  font-size: 16px;
}
.review_slide a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.review_prev {
  position: absolute;
  top: 55%;
  left: -5%;
  color: black;
}
.review_next {
  position: absolute;
  top: 55%;
  right: -5%;
  color: black;
}

/*    magazine     */
.magazine_wrap {
  margin-top: 180px;
  height: 500px;
  background-color: var(--main_c2);
  overflow: hidden;
}
.magazine {
  position: relative;
}
.magazine > h2 {
  font-size: 40px;
  font-weight: 500;
  padding: 50px 0;
  color: white;
}
.magazine > .plus {
  width: 25px;
  position: absolute;
  top: 62px;
  left: 240px;
}

.magazine_contents {
  display: flex;
  justify-content: space-around;
}
.magazine_contents > div {
  width: 400px;
  height: 350px;
}
.min1 > .card_slide_list {
  width: 350px;
  height: 400px;
  margin-top: 25px;
  padding: auto;
  position: absolute;
  top: 100px;
}
.card_detail {
  background-color: white;
  border: 1px solid black;
}
.card_img {
  width: 300px;
  height: 220px;
  margin: 0.5rem auto;
  background-size: cover;
}
.card28 .card_img {
  background-image: url(../imges/lesson_28.png);
}
.card27 .card_img {
  background-image: url(../imges/lesson_27.png);
}
.card26 .card_img {
  background-image: url(../imges/lesson_26.png);
}
.card_img {
  background-image: url(../imges/lesson_28.png);
}
.card_img {
  background-image: url(../imges/lesson_27.png);
}
.card_img {
  background-image: url(../imges/lesson_26.png);
}
.card_img {
  background-image: url(../imges/lesson_28.png);
}
.card_img {
  background-image: url(../imges/lesson_27.png);
}
.card_img {
  background-image: url(../imges/lesson_26.png);
}

.card_dec {
  margin: auto;
  width: 220px;
  text-align: center;
  font-family: "Noto Serif KR", serif;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 2px solid black;
}
.card_hash {
  width: 240px;
  margin: auto;
  text-align: center;
  font-family: "Noto Serif KR", serif;
  font-size: 12px;
  font-weight: 700;
  padding-top: 16px;
}

/*              book                  */
.book_con {
  transform: rotate(35deg);
}
.book {
  width: 620px;
  height: 400px;
  background-image: url(../imges/Book.png);
  display: flex;
  position: absolute;
  top: -100px;
  left: -120px;
}
.book img {
  background-size: cover;
}
.book > .left_book {
  width: 310px;
  height: 400px;
  background-image: url(../imges/left_book.png);
  /* z-index: 10; */
  position: relative;
}
.book > .left_book > img {
  width: 240px;
  position: absolute;
  top: 35px;
  left: 55px;
}
.book > .left_book > p {
  position: absolute;
  top: 300px;
  left: 15px;
  font-family: "Noto Serif KR", serif;
  font-size: 22px;
  font-weight: 700;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.book > .right_book {
  width: 310px;
  height: 400px;
  background-image: url(../imges/right_book.png);
  z-index: 10;
  position: relative;
  transition: 0.5s;
}
.book > .right_book > p {
  position: absolute;
  top: 100px;
  right: -20px;
  font-family: "Noto Serif KR", serif;
  font-size: 22px;
  font-weight: 700;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.book > .right_book > img {
  width: 240px;
  position: absolute;
  top: 35px;
  right: 53px;
}
.book > .right_book > span {
  position: absolute;
  top: 290px;
  left: 60px;
  text-align: center;
  font-family: "Noto Serif KR", serif;
  font-size: 22px;
  font-weight: 700;
}
.right_book > *,
.left_book > * {
  transition: 0.5s;
}

.book > .right_book:hover.right_book > * {
  transform: rotate(-35deg);
}
.book > .left_book:hover.left_book > * {
  transform: scale(1.5) rotate(-35deg);
  z-index: 100;
  color: white;
}

.end_banner:hover.end_banner span::after {
  right: -70px;
}
/*  END BANNER */
.end_banner_wrap {
  height: 270px;
  background-color: #9450d0;
  margin: auto;
}
.end_banner_wrap img {
  width: 100%;
}
.end_banner {
  height: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.end_banner strong {
  font-size: 40px;
  font-weight: 500;
  line-height: 59px;
  color: white;
  display: block;
}
.end_banner > p > span {
  display: block;
  width: 200px;
  font-size: 30px;
  font-weight: 400;
  line-height: 44px;
  color: white;
  padding-top: 32px;
  position: relative;
  /* border: 1px solid wheat; */
}
.end_banner > p > span::after {
  content: "> > >";
  position: absolute;
  right: -50px;
  transition: 0.5s;
}

.docent > img {
  width: 140px;
}
.docent {
  flex-grow: 1;
  margin: auto;
  display: flex;
  justify-content: center;
}
.docent > * {
  justify-content: center;
  align-items: center;
}
.docent_search {
  width: 200px;
  height: 50px;
  margin-top: 40%;
}
.end_banner > p > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 10;
}
.end_banner > p > a:hover.end_banner span::after {
  right: -70px;
}

/*     footer     */
footer {
  height: 400px;
  margin: auto;
  background-color: black;
}
footer .max_footer > .top_menu > img {
  width: 100%;
}
.footer_logo {
  margin-top: 60px;
  width: 97px;
  height: 51px;
}
.top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot_nav > a {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 0 16px;
}
.max_footer > p {
  padding-top: 100px;
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.plus:hover {
  transform: rotate(-90deg);
}
@media (max-width: 1610px) {
  .wine_next,
  .wine_prev {
    position: absolute;
    top: 21%;
  }
  .wine_next {
    right: 10%;
  }
  .wine_prev {
    left: 80%;
  }
  .review_next,
  .review_prev {
    position: absolute;
    top: 4%;
  }
  .review_next {
    right: 10%;
  }
  .review_prev {
    left: 80%;
  }
}
@media (max-width: 1450px) {
  .gnb a {
    display: inline-block;
    font-size: 16px;
    padding: 0 1rem;
    font-weight: 400;
    position: relative;
  }
  .main_banner_wrap {
    width: 100%;
  }
  .fix_banner > span {
    margin-top: 75px;
    text-align: end;
    font-size: 28px;
    font-weight: 700;
    color: var(--main_c3);
  }
  .fix_banner > strong {
    text-align: end;
    font-size: 30px;
    font-weight: 200;
    line-height: 3.8rem;
    color: var(--main_c3);
    margin-right: 70px;
    margin-left: -50px;
    word-break: keep-all;
  }
  .fix_banner > img {
    width: 314px;
    margin-top: 25px;
  }
  .slide_banner_con {
    overflow: hidden;
  }
  .slide_banner_con img {
    display: none;
  }
  .swiper-wrapper .swiper-slide > .word_space > .eng {
    font-size: 20px;
  }
  .swiper-wrapper .swiper-slide > .word_space > strong {
    font-size: 30px;
    font-weight: 300;
    color: var(--main_c1);
  }
  .slide_banner4 > span {
    top: 75px;
    left: 70px;
  }
  .slide_banner4 > button {
    display: block;
    margin-top: 300px;
  }

  /* .slide_banner4 > span {
    right: 40%;
  } */
  /* .wine_recommend_wrap {
    padding-top: 100px;
    max-width: 1000px;
    height: 600px;
    margin: auto;
    position: relative;
  } */
  /* .review_wrap {
    max-width: 1200px;
    height: 700px;
    margin: auto;
    margin-top: 140px;
    position: relative;
  } */
  .wine_con::after {
    display: none;
  }
  .slide_banner_con::after {
    content: "";
    position: absolute;
    top: 0;
    right: -100vh;
    width: 0;
    height: 0;
    background-color: var(--main_c2);
    z-index: 1;
  }
  .btn_group {
    width: 400px;
    margin: auto;
  }
  .btn_group > button {
    width: 180px;
    height: 65px;
    margin: 8px;
    border-radius: 10px;
    border: transparent;
    box-shadow: 0 0 5px;
    position: relative;
  }
  .wine_category_wrap {
    max-width: 900px;
    margin: auto;
  }
  .wine_category_wrap > .plus {
    width: 25px;
    position: absolute;
    top: 11px;
    left: 350px;
  }
  .wine_category {
    display: flex;
    padding-top: 50px;
  }
  .wine_category > div > span {
    font-size: 12px;
  }
  .wine_category > div {
    padding: 0 8px;
    /* background-color: antiquewhite; */
  }
  /* .btn_group > button {
    wignb_mdth: 325px;
    height: 65px;
    margin: 8px;
    border-radius: 10px;
    border: transparent;
    box-shadow: 0 0 5px ;
    position: relative;
  } */
  /* .review_wrap {
    max-width: 900px;
    height: 100%;
    margin: auto;
    margin-top: 140px;
    position: relative;
  } */
  .mid_banner_wrap {
    margin-top: 350px;
  }
}
@media (max-width: 880px) {
  .gnb a {
    display: inline-block;
    font-size: 16px;
    padding: 0 1rem;
    font-weight: 400;
    position: relative;
  }
  .gnb {
    display: none;
  }
  .gnb_m_con.on {
    right: 0;
  }

  .close_search {
    position: absolute;
    right: 0px;
    top: 6px;
    font-size: 20px;
  }
  .close_bar {
    position: absolute;
    right: 32px;
    top: 16px;
    font-size: 20px;
  }
  .gnb_list > * {
    margin-top: 30px;
    /* border: 1px solid red; */
  }
  .gnb_list {
    display: flex;
    flex-direction: column;
  }
  .gnb_list > li > a {
    display: block;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 3px solid var(--main_c1);
  }
  .sub_list {
    display: flex;
    max-width: 500px;
    padding-top: 0;
    position: relative;
    opacity: 1;
    overflow: visible;
    visibility: visible;
    background-color: var(--main_c2);
  }
  .sub_list > li {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
  }
  .sub_list > li > a {
    line-height: 24px;
    color: white;
  }
  .sub_list > li > a:hover {
    color: var(--main_c1);
  }
  .sub_list > li > a:hover .sub_list > li {
    color: var(--main_c1);
  }
  .fa-magnifying-glass,
  .fa-bag-shopping,
  .fa-user {
    display: none;
  }
  .fa-bars,
  .fa-magnifying-glass {
    font-size: 24px;
    display: inline-block;
    margin-right: 0;
  }
  .icon_nav {
    width: 80px;
  }
  .main_banner_wrap::after,
  .main_banner_wrap::before {
    display: none;
  }
  .main_banner_wrap {
    display: block;
  }
  .fix_banner > * {
    margin-right: auto;
    border: 1px solid red;
  }
  .fix_banner_con {
    width: 100%;
    background-color: var(--main_c1);
    height: 300px;
    position: relative;
  }
  .fix_banner {
    width: 100vw;
    margin: auto;
    flex-direction: column;
    position: relative;
  }
  .fix_banner > span {
    margin-top: 75px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: var(--main_c3);
    margin: 0 70px;
  }
  .fix_banner > strong {
    text-align: center;
    font-size: 45px;
    font-weight: 200;
    line-height: 3.8rem;
    color: var(--main_c3);
    margin: 0 70px;
  }
  .fix_banner > button {
    position: absolute;
    text-align: end;
    top: 204px;
    right: 150px;
    width: 167px;
    height: 58px;
    border-radius: 20px;
    background-color: var(--main_c2);
    transition: 0.5s;
  }
  .fix_banner > img {
    width: 240px;
    margin: auto;
  }
  .slide_banner_con {
    width: 100%;
    height: 500px;
  }
  .word_space {
    text-align: center;
    align-items: center;
    margin: auto;
    width: calc(100% - 2rem);
  }
  .swiper-wrapper .swiper-slide > .word_space > .eng {
    font-size: 24px;
    font-weight: 700;
  }
  .swiper-wrapper .swiper-slide > .word_space > strong {
    padding-top: 25px;
    font-size: 45px;
    font-weight: 300;
  }
  .swiper-wrapper .swiper-slide > .word_space > .detail {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }
  .slide_banner button {
    max-width: 300px;
    margin: 10% 3%;
  }
  .slide_banner4 > span {
    top: 75px;
    left: 0;
    margin: 0;
    margin: auto;
  }
  .slide_banner4 > button {
    display: block;
    margin-top: 300px;
  }
  .slide_banner_next,
  .slide_banner_prev {
    display: none;
  }
  /* .wine_recommend_wrap {
    max-width: 600px;
    margin: auto;
    padding-top: 100px;
    height: 600px;
    position: relative;
  } */
  .wine_next,
  .wine_prev {
    width: 8px;
    height: 8px;
    top: 90%;
  }
  .wine_next {
    right: 40%;
  }
  .wine_prev {
    left: 40%;
  }
  .btn_group {
    width: 200px;
    margin: auto;
  }
  .btn_group > button {
    width: 200px;
    height: 65px;
    margin: 8px;
    border-radius: 10px;
    border: transparent;
    box-shadow: 0 0 5px;
    position: relative;
  }
  .wine_category_wrap {
    max-width: 600px;
    margin: auto;
  }
  .wine_category_wrap > .plus {
    width: 25px;
    position: absolute;
    top: 11px;
    left: 350px;
  }
  .wine_category {
    padding-top: 50px;
  }
  .wine_category > div > span {
    font-size: 12px;
  }
  .wine_category > div {
    padding: 0 8px;
    /* background-color: antiquewhite; */
  }
  .wine_category > div {
    width: 300px;
  }

  .mid_banner {
    max-width: 600px;
    margin: auto;
  }
  .mid_banner > img {
    width: 50%;
  }
  .review_deteil > .stars {
    margin-top: 10%;
    font-size: small;
  }
  .review_deteil > .review_title {
    font-size: 16px;
    font-weight: 500;
  }
  .review_deteil > .review_content {
    font-size: 10px;
    font-weight: 500;
  }
  .review_name {
    font-size: 12px;
  }
  .review_prev,
  .review_next {
    width: 8px;
    height: 8px;
    top: 110%;
  }
  .review_prev {
    left: 40%;
  }
  .review_next {
    right: 40%;
  }
  .magazine_wrap {
    margin-top: 180px;
    background-color: var(--main_c2);
    overflow: hidden;
    height: 900px;
  }
  .magazine {
    max-width: 500px;
    margin: auto;
    position: relative;
  }
  .magazine_contents {
    display: block;
  }
  .magazine_contents > div {
    height: 450px;
  }
  .min1 {
    max-width: 380px;
    margin: auto;
  }
  .min1 > .card_slide_list {
    max-width: 300px;
    height: 400px;
  }
  .book_con {
    margin: auto;
    transform: scale(0.8) rotate(0);
  }
  .book > .right_book:hover.right_book > * {
    transform: scale(1.2) rotate(0deg);
  }
  .book > .left_book:hover.left_book > * {
    transform: scale(1.2) rotate(0deg);
    z-index: 100;
    color: white;
  }
  .end_banner {
    max-width: 600px;
    margin: auto;
  }
  .docent {
    display: block;
    margin-left: 50px;
  }
  .docent_search {
    width: 200px;
    height: 50px;
    margin-top: 0%;
  }
  .max_footer {
    max-width: 600px;
    margin: auto;
  }
  .foot_nav > a {
    font-size: 16px;
  }
  .max_footer > p {
    font-size: 16px;
  }
}
@media (max-width: 530px) {
  .head2 {
    font-size: 35px;
  }
}
@media (max-width: 470px) {
  .main_nav {
    padding: var(--gap1);
  }
  .max_header > .main_nav > .logo {
    width: 180px;
  }
  .search_modal_con {
    top: 64px;
  }

  .fix_banner > strong {
    font-size: 45px;
    word-break: keep-all;
  }
  .fix_banner > button {
    bottom: 0;
    right: 50px;
  }
  .fix_banner > img {
    width: 170px;
    margin: auto;
  }

  .swiper-wrapper .swiper-slide > .word_space > strong {
    font-size: 45px;
    word-break: keep-all;
  }
  .wine_recommend_wrap > h2 {
    font-size: 25px;
  }
  .wine_next,
  .wine_prev {
    display: none;
  }
  .wine_category_wrap {
    max-width: 380px;
    margin: auto;
    position: relative;
  }
  .wine_category_wrap > h2 {
    font-size: 25px;
  }
  .wine_category_wrap > .plus {
    width: 16px;
    position: absolute;
    top: 8px;
    left: 220px;
  }
  .wine_category {
    display: block;
    padding-top: 50px;
  }
  .wine_category > div {
    width: 380px;
    padding: 0 8px;
  }
  .wine_category > div > strong {
    font-size: 24px;
  }
  .wine_category > div > span {
    font-weight: 300;
  }
  .wine_wine {
    margin-top: 30px;
  }

  .btn_group {
    width: 380px;
    margin: auto;
  }
  .wine_category > div > .btn_group {
    margin: 0;
  }
  .btn_group > button {
    width: 150px;
    height: 62px;
    border-radius: 5px;
    border: transparent;
    box-shadow: 0 0 5px;
    position: relative;
  }
  .btn_group > button > span {
    position: absolute;
    top: 15px;
    left: 15%;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: white;
  }
  .mid_banner_wrap {
    height: 450px;
    margin-top: 80px;
  }
  .mid_banner {
    padding-top: 30px;
    max-width: 300px;
    margin: auto;
    display: block;
  }
  .mid_banner > img {
    padding-top: 50px;
    width: 300px;
  }
  .review_wrap > h2 {
    font-size: 25px;
  }
  .review_wrap > .plus {
    width: 16px;
    position: absolute;
    top: 6px;
    left: 180px;
  }
  .review_deteil > .stars {
    /* border: 1px solid black; */
    margin-top: 5%;
    font-size: xx-small;
  }
  .review_deteil > .review_title {
    font-size: 10px;
    font-weight: 500;
  }
  .review_deteil > .review_content {
    font-size: 6px;
    font-weight: 500;
  }
  .review_name {
    font-size: 8px;
  }
  .review_prev,
  .review_next {
    display: none;
  }
  .magazine_wrap {
    height: 1100px;
  }
  .magazine > h2 {
    font-size: 25px;
  }
  .magazine > .plus {
    width: 16px;
    position: absolute;
    top: 56px;
    left: 150px;
  }
  .min1 {
    max-width: 380px;
    margin: auto;
    margin-left: 20px;
  }
  .min1 > .card_slide_list {
    max-width: 300px;
    height: 400px;
  }

  .book_con {
    transform: scale(0.8) rotate(90deg);
    margin-left: -30px;
  }
  .book {
    top: 0;
  }
  .book > .left_book {
    width: 380px;
    height: 400px;
    background-image: url(../imges/left_book.png);
    /* z-index: 10; */
    position: relative;
  }
  .book > .left_book > img {
    width: 240px;
    position: absolute;
    top: 35px;
    left: 55px;
  }
  .book > .left_book > p {
    position: absolute;
    top: 300px;
    left: 15px;
    font-family: "Noto Serif KR", serif;
    font-size: 22px;
    font-weight: 700;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .book > .right_book {
    width: 310px;
    height: 400px;
    background-image: url(../imges/right_book.png);
    z-index: 10;
    position: relative;
    transition: 0.5s;
    padding-left: 200px;
  }
  .book > .right_book > p {
    position: absolute;
    top: 100px;
    right: -20px;
    font-family: "Noto Serif KR", serif;
    font-size: 22px;
    font-weight: 700;
    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
  }
  .book > .right_book > img {
    width: 240px;
    position: absolute;
    top: 150px;
    right: 53px;
    transform: rotate(-90deg);
  }
  .book > .right_book > span {
    position: absolute;
    top: 60px;
    left: 60px;
    text-align: center;
    font-family: "Noto Serif KR", serif;
    font-size: 18px;
    font-weight: 700;
    transform: rotate(-90deg);
  }
  .book > .right_book:hover.right_book > * {
    transform: scale(1.2) rotate(-90deg);
  }
  .book > .left_book:hover.left_book > * {
    transform: scale(1.2) rotate(-90deg);
    z-index: 100;
    color: white;
  }

  .end_banner_wrap {
    margin-top: 400px;
    height: 500px;
    background-color: #9450d0;
    margin: auto;
  }
  .end_banner {
    max-width: 300px;
    margin: auto;
    height: 270px;
    display: block;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .max_footer {
    max-width: 300px;
    margin: auto;
  }

  .foot_nav > a {
    display: block;
    font-size: 12px;
    padding-top: 8px;
  }
  .max_footer > p {
    font-size: 12px;
  }
}
